<h3>Listing Tags</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to 'Show', admin_panel_tag_path(tag) %></td>
        <td><%= link_to 'Edit', edit_admin_panel_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', admin_panel_tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_admin_panel_tag_path, class: 'btn btn-primary', role: 'button' %>
