<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @ingredient.measurement %>
</p>

<%= link_to 'Edit', edit_admin_panel_ingredient_path(@ingredient) %> |
<%= link_to 'Back', admin_panel_ingredients_path %>
