<p id="notice"><%= notice %></p>

<h1>Listing Recipes</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.id %></td>
        <td><%= recipe.name %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.category.name %></td>
        <td><%= link_to 'Edit', edit_admin_panel_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', admin_panel_recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @posts %>

<br>

<%= link_to 'New Recipe', new_admin_panel_recipe_path %>
