<h3>Listing Categories</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', admin_panel_category_path(category) %></td>
        <td><%= link_to 'Edit', edit_admin_panel_category_path(category) %></td>
        <td>
          <%= link_to 'Destroy', admin_panel_category_path(category), {
            method: :delete, data: { confirm: 'Are you sure?' } 
          }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_admin_panel_category_path, class: 'btn btn-primary', role: 'button' %>
